    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:30
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-apple:before { content: "\f100"; }
.flaticon-atom:before { content: "\f101"; }
.flaticon-axis:before { content: "\f102"; }
.flaticon-bacteria:before { content: "\f103"; }
.flaticon-book:before { content: "\f104"; }
.flaticon-calculator:before { content: "\f105"; }
.flaticon-cell:before { content: "\f106"; }
.flaticon-clipboard:before { content: "\f107"; }
.flaticon-compass:before { content: "\f108"; }
.flaticon-dna-structure:before { content: "\f109"; }
.flaticon-earth:before { content: "\f10a"; }
.flaticon-earth-globe:before { content: "\f10b"; }
.flaticon-element:before { content: "\f10c"; }
.flaticon-flasks:before { content: "\f10d"; }
.flaticon-magnet:before { content: "\f10e"; }
.flaticon-magnifying-glass:before { content: "\f10f"; }
.flaticon-medicines:before { content: "\f110"; }
.flaticon-microscope:before { content: "\f111"; }
.flaticon-molecular:before { content: "\f112"; }
.flaticon-molecule:before { content: "\f113"; }
.flaticon-observation:before { content: "\f114"; }
.flaticon-petri-dish:before { content: "\f115"; }
.flaticon-rat:before { content: "\f116"; }
.flaticon-satellite:before { content: "\f117"; }
.flaticon-scientist:before { content: "\f118"; }
.flaticon-solar-system:before { content: "\f119"; }
.flaticon-statistics:before { content: "\f11a"; }
.flaticon-telescope:before { content: "\f11b"; }
.flaticon-test-tube:before { content: "\f11c"; }
.flaticon-thermometer:before { content: "\f11d"; }
    
    $font-Flaticon-apple: "\f100";
    $font-Flaticon-atom: "\f101";
    $font-Flaticon-axis: "\f102";
    $font-Flaticon-bacteria: "\f103";
    $font-Flaticon-book: "\f104";
    $font-Flaticon-calculator: "\f105";
    $font-Flaticon-cell: "\f106";
    $font-Flaticon-clipboard: "\f107";
    $font-Flaticon-compass: "\f108";
    $font-Flaticon-dna-structure: "\f109";
    $font-Flaticon-earth: "\f10a";
    $font-Flaticon-earth-globe: "\f10b";
    $font-Flaticon-element: "\f10c";
    $font-Flaticon-flasks: "\f10d";
    $font-Flaticon-magnet: "\f10e";
    $font-Flaticon-magnifying-glass: "\f10f";
    $font-Flaticon-medicines: "\f110";
    $font-Flaticon-microscope: "\f111";
    $font-Flaticon-molecular: "\f112";
    $font-Flaticon-molecule: "\f113";
    $font-Flaticon-observation: "\f114";
    $font-Flaticon-petri-dish: "\f115";
    $font-Flaticon-rat: "\f116";
    $font-Flaticon-satellite: "\f117";
    $font-Flaticon-scientist: "\f118";
    $font-Flaticon-solar-system: "\f119";
    $font-Flaticon-statistics: "\f11a";
    $font-Flaticon-telescope: "\f11b";
    $font-Flaticon-test-tube: "\f11c";
    $font-Flaticon-thermometer: "\f11d";