.includepath
.externalToolBuilders/
.project
.settings/
tmp/
.grunt/
node_modules/
d3/test/coverage/
d3/js/wgaPipelineLinear.js
d3/js/wgaPipelineCircular.js
_SpecRunner.html
_build/
blib/
MANIFEST*.bak
Build
MYMETA.*
manual/manualAliTV.synctex.gz
manual/manualAliTV.log
manual/.nfs000000000065e03c00000a5e